#hand {
  animation-name: hand-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  position: relative;
}

@keyframes hand-animation {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.0);
  }
}