---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` and set theme here
@import
  "theme-{{ site.theme_color | default: "light" }}.scss"
  // "theme-{{ site.theme_fonts | default: "system" }}.scss"
;

.navigation {
  .navigation_item {
    a {
      text-decoration: none;
      border-bottom: none;
      &:hover {
        border-bottom: 1px dotted;
      }
    }
  }
}